code/HSCML/Rules/biblio.dtd

<!--
 Copyright 2012 Tufts University 

 Licensed under the Educational Community License, Version 1.0 (the "License"); 
 you may not use this file except in compliance with the License. 
 You may obtain a copy of the License at 

 http://www.opensource.org/licenses/ecl1.php 

 Unless required by applicable law or agreed to in writing, software 
 distributed under the License is distributed on an "AS IS" BASIS, 
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. 
 See the License for the specific language governing permissions and 
 limitations under the License.
-->
<!-- ##########################################
     ###         Bibliographical Elements   ###
     ########################################## -->

<!-- Make sure to include inline.dtd first. -->

<!ELEMENT bibliography (biblio-entry*)>

<!ENTITY % entry-types "journal-article | journal-whole | book-whole | book-contribution | conference-proceedings | conference-paper | scitech-report | thesis | bibliography | patent | newspaper-article | map | audiovisual-title | computer-program | database | database-contribution | serial-elec | serial-article-elec | monograph-electronic | electronic-mail | religious-work | classic-reference | classic-plays-poems | conference-paper-unpub | journal-article-unpub | monograph-unpub | letter-conversation">


<!ELEMENT biblio-entry (%entry-types;)>

<!--
Types of entries:
journal-article         	Journal Articles
journal-whole           	Journal Titles
book-whole              	Whole Books or Parts of Books
book-contribution       	Contributions to Books
conference-proceedings   	Conference Proceedings
conference-paper        	Conference Papers or Abstracts
scitech-report          	Scientific and Technical Reports
thesis                  	Dissertations and Theses
bibliography            	Bibliographies
patent                  	Patents
newspaper-article       	Newspaper Article
map                     	Maps
audiovisual-title       	Audiovisual Titles
audiovisual-journal     	Journal Titles in Audiovisual Format
audiovisual-journal-article 	Journal Articles in Audiovisual Format
computer-program        	Computer Programs
database                	Entire Databases or Parts of Databases
database-contribution   	Contributions to Databases
serial-electronic       	Serial Titles (Electronic Format)
serial-article-electronic   	Serial Articles (Electronic Format)
monograph-electronic    	Electronic Monographs and Parts of Monographs
bulletin-board          	Electronic Bulletin Boards
bulletin-board-contribution  	Contributions to Bulletin Boards
electronic-mail         	Electronic Mail
religious-work				Books of  the Bible and other Religious Works
classic-reference			Classic Reference Works
classic-plays-poems			Classic plays, poems
conference-paper-unpub      Unpublished Papers presented at Meetings
journal-article-unpub   	Unpublished Forthcoming Journal Articles
monograph-unpub         	Unpublished Forthcoming Monographs
letter-conversation     	Personal Communications
-->

<!-- We're defining ways to list a bunch of authors that we'll use over and over again. -->
<!-- Is there a reason we can't use the person dtd for this?-->
<!-- more-than-10 is a yes/no question, yes brings up "et al" after 10 authors. Similarly editor brings up ed. after each author when editor is flagged yes. -->

<!ELEMENT journal-author-list (journal-author+, more-than-10?)>
<!ELEMENT journal-author (last-name, first-init?, other-init*, author-affiliation?)>
<!ELEMENT last-name %Inline;>
<!ELEMENT first-init (#PCDATA)>
<!ELEMENT other-init (#PCDATA)>
<!ELEMENT author-affiliation (#PCDATA)>
<!ELEMENT more-than-10 EMPTY>

<!ELEMENT book-author-list (book-author+)>
<!ELEMENT book-author (last-name, first-name?, other-init*, editor-tag?, author-affiliation?)>
<!ELEMENT first-name (#PCDATA)>
<!ELEMENT editor-tag EMPTY>

<!ELEMENT secondary-author-list (secondary-author+)>
<!ELEMENT secondary-author (last-name, first-name?, other-init*, role, author-affiliation?)>
<!ELEMENT role (#PCDATA)>

<!ELEMENT editor-list (one-editor+, more-than-3)>
<!ELEMENT one-editor (individual | organization)>
<!ELEMENT individual (last-name, first-name?, other-init*, author-affiliation?)>
<!ELEMENT organization (organization-name)>
<!ELEMENT organization-name (#PCDATA)>
<!ELEMENT more-than-3 EMPTY>


<!ELEMENT assignee-list (assignee+)>
<!ELEMENT assignee (person | organization)>

<!ELEMENT map-author (last-name, first-name?, other-init*, author-affiliation?)>

<!ELEMENT av-author3-list (av-author+, more-than-3)>
<!ELEMENT av-author10-list (av-author+, more-than-10)>
<!ELEMENT av-author (last-name, first-name?, other-init*, author-affiliation?)>


<!ELEMENT date (month?, day?, season?, year)>
<!ELEMENT month (#PCDATA)>
<!ELEMENT day (#PCDATA)>
<!ELEMENT season (#PCDATA)>
<!ELEMENT year (#PCDATA)>



<!-- we'd like a more sophisticated way to store dates.  Isn't there a standard yet?  -->
<!-- fix articletype twice below-->
<!-- Journal Article -->
<!ELEMENT journal-article (journal-author-list, article-title, article-type?, journal-title, medium-type?, edition?, pub-date, volume-number, volume-supplement?, issue-number, issue-supplement?, pagination, part-title?, physical-description?, language?, notes?)>
<!ATTLIST journal-article
          article-type (editorial | letter | news | interview | abstract) "editorial">

<!ELEMENT article-title %Inline;>
<!ELEMENT article-type (#PCDATA)>
<!ELEMENT journal-title %Inline;>
<!ELEMENT medium-type (#PCDATA)> 
<!ELEMENT edition (#PCDATA)>
<!ELEMENT pub-date (date)>
<!ELEMENT volume-number (#PCDATA)>
<!ELEMENT volume-supplement (#PCDATA)>
<!ELEMENT issue-number (#PCDATA)>
<!ELEMENT issue-supplement (#PCDATA)>
<!ELEMENT pagination (#PCDATA)>
<!ELEMENT part-title (#PCDATA)>
<!ELEMENT physical-description (#PCDATA)>
<!ELEMENT language (#PCDATA)>
<!ELEMENT notes %Inline;>

<!-- We need a way to say, "This is the thing's Medline ID." -->

<!ELEMENT journal-whole (journal-title, medium-type?, edition?, pub-place, publisher, pub-date, pub-frequency?, physical-description?, accompanying-material?, language?, notes?)>

<!ELEMENT pub-place (#PCDATA)>
<!ELEMENT publisher (#PCDATA)>
<!ELEMENT pub-frequency (#PCDATA)>
<!ELEMENT accompanying-material (#PCDATA)>

<!ELEMENT book-whole (book-author-list, book-title, book-subtitle, medium-type?, edition?, secondary-author-list?, part-number-if-big?, part-title-if-big?, pub-place, publisher, pub-date, part-number-if-small?, part-title-if-small?, pagination, isbn?, physical-description?, series?, language?, notes?)>

<!ELEMENT book-title (#PCDATA)>
<!ELEMENT book-subtitle (#PCDATA)>
<!ELEMENT part-number-if-big (#PCDATA)>
<!ELEMENT part-title-if-big (#PCDATA)>
<!ELEMENT part-number-if-small (#PCDATA)>
<!ELEMENT part-title-if-small (#PCDATA)>
<!ELEMENT isbn (#PCDATA)>
<!ELEMENT series (#PCDATA)>

<!ELEMENT book-contribution (book-author-list, contribution-title, book-title, book-subtitle, medium-type?, edition?, secondary-author-list?, part-number-if-big?, part-title-if-big?, pub-place, publisher, pub-date, part-number-if-small?, part-title-if-small?, pagination, isbn?, physical-description?, series?, language?, notes?)>

<!ELEMENT contribution-title (#PCDATA)>

<!ELEMENT conference-proceedings (editor-list,  proceedings-title?, medium-type?, conference-title, medium-type?, conference-date, conference-place?, secondary-author-list?, pub-place, publisher, pub-date, pagination?, physical-description?, series?, language?, notes?)>

<!ELEMENT proceedings-title (#PCDATA)>
<!ELEMENT conference-title (#PCDATA)>
<!ELEMENT conference-date (date)>
<!ELEMENT conference-place (#PCDATA)>


<!ELEMENT conference-paper (journal-author-list, paper-title, article-type?, editor-list,  proceedings-title?, medium-type?, conference-title, medium-type?, conference-date, conference-place?, secondary-author-list?, pub-place, publisher, pub-date, pagination?, physical-description?, series?, language?, notes?)>

<!ELEMENT paper-title (#PCDATA)>

<!ELEMENT scitech-report (book-author-list, paper-title, medium-type?, secondary-author-list?, pub-place, publisher, pub-date, report-number, contract-number, pagination?, numeration-of-part?, title-of-part?, pagination-of-part?, physical-description?, series?, language?, notes?)>

<!ELEMENT report-number (#PCDATA)>
<!ELEMENT contract-number (#PCDATA)>
<!ELEMENT numeration-of-part (#PCDATA)>
<!ELEMENT title-of-part (#PCDATA)>
<!ELEMENT pagination-of-part (#PCDATA)>

<!ELEMENT thesis (book-author-list, book-title, pub-type?, medium-type, pub-place, publisher, pub-date, pagination?, numeration-of-part?, title-of-part?, pagination-of-part?, physical-description?, availability-statement?, language?, notes?)>

<!ELEMENT pub-type (#PCDATA)>
<!ELEMENT availability-statement (#PCDATA)>

<!ELEMENT bibliograph (book-author-list, bib-title, pub-type?, edition?, secondary-author-list?, pub-place, publisher, pub-date, pagination,  series?, availability-statement?, language?, notes?)>

<!ELEMENT bib-title (#PCDATA)>

<!ELEMENT patent (book-author-list, assignee-list, patent-title, country, patent-document-type, patent-number, patent-date, pagination?, international-patent-classification-code, language?, notes?)>

<!ELEMENT patent-title (#PCDATA)>
<!ELEMENT country (#PCDATA)>
<!ELEMENT patent-document-type (#PCDATA)>
<!ELEMENT patent-number (#PCDATA)>
<!ELEMENT patent-date (date)>
<!ELEMENT international-patent-classification-code (#PCDATA)>

<!ELEMENT newspaper-article (journal-author-list, article-title, newspaper-title, medium-type?, edition?, pub-date, volume-number, issue-number, newspaper-section, pagination, column, dateline?, language?, notes? )>

<!ELEMENT newspaper-title (#PCDATA)>
<!ELEMENT newspaper-section (#PCDATA)>
<!ELEMENT column (#PCDATA)>
<!ELEMENT dateline (#PCDATA)>

<!ELEMENT map (area, map-title, medium-type, map-author, edition?, pub-place, publisher, pub-date, physical-description?, series?, availability-statement?, language?, notes? )>

<!ELEMENT area (#PCDATA)>
<!ELEMENT map-title (#PCDATA)>

<!ELEMENT audiovisual-title (av-title, medium-type, av-author3-list, edition?, secondary-author-list?, pub-place, publisher, pub-date, physical-description?, series?, accompanying-material?, availability-statement?, language?, notes? )>

<!ELEMENT av-title (#PCDATA)>

<!ELEMENT av-journal (journal-title, medium-type, edition?, pub-place, publisher, pub-date, pub-frequency, physical-description?, accompanying-material?, availability-statement?, language?, notes?)>

<!ELEMENT av-journal-article (journal-author-list, article-title, article-type?, journal-title, medium-type?, edition?, pub-date, volume-number, volume-supplement?, issue-number, issue-supplement?, pagination, physical-description?, accompanying-material?, language?, notes?)>

<!ELEMENT computer-program (computer-program-title, medium-type, av-author3-list, edition?, pub-place, publisher, pub-date, revision-date?, physical-description?, series?, accompanying-material?, availability-statement?, language?, notes?)>
<!ELEMENT computer-program-title (#PCDATA)>
<!ELEMENT revision-date (date)>

<!ELEMENT database (database-title, medium-type, av-author3-list, edition?, pub-place, publisher, pub-date, pub-frequency, revision-date?, citation-date?, part-title?, part-number?, part-pagination?, series?, accompanying-material?, availability-statement?, language?, notes?  )>
<!ELEMENT database-title (#PCDATA)>
<!ELEMENT citation-date (date)>
<!ELEMENT part-number (#PCDATA)>
<!ELEMENT part-pagination (#PCDATA)>

<!ELEMENT database-contribution (av-author10-list, contribution-title, database-title, medium-type, av-author3-list, edition?, pub-place, publisher, pub-date, pub-frequency, revision-date?, citation-date?, contribution-number, contribution-pagination?, series?, accompanying-material?, availability-statement?, language?, notes?)>
<!ELEMENT contribution-number (#PCDATA)>
<!ELEMENT contribution-pagination (#PCDATA)>

<!ELEMENT serial-elec (serial-title, medium-type, edition?, pub-place, publisher, pub-date, pub-frequency, physical-description?, accompanying-material?, availability-statement?, language?, notes?)>
<!ELEMENT serial-title (#PCDATA)>

<!ELEMENT serial-article-elec (av-author10-list, article-title, article-type?, serial-title, medium-type, edition?, pub-date, revision-date?, citation-date?, volume-number, volume-supplement?, issue-number, issue-supplement?, pagination, physical-description?, accompanying-material?, availability-statement?, language?, notes?)>


<!ELEMENT monograph-electronic (monograph-title, medium-type, book-author-list, edition?, pub-place, publisher, pub-date, revision-date?, citation-date?, part-title?, part-number?, pagination, physical-description?, series?, accompanying-material?, availability-statement?, language?, notes?)>
<!ELEMENT monograph-title (#PCDATA)>

<!ELEMENT elec-bull-board (bull-board-title, medium-type, book-author-list, pub-place, publisher, pub-date, citation-date?, availability-statement?, language?, notes?)>
<!ELEMENT bull-board-title (#PCDATA)>

<!ELEMENT elec-bull-board-contrib (book-author-list, contribution-title, bull-board-title, medium-type, book-author-list, pub-place, publisher, pub-date, citation-date?, contribution-number?, contribution-pagination?, availability-statement?, language?, notes? )>

<!ELEMENT electronic-mail (book-author-list, message-title, assignee-list, bull-board-title, secondary-author-list, pub-place, publisher, pub-date, message-numeration?, message-pagination, availability-statement?, language?, notes? )>
<!ELEMENT message-title (#PCDATA)>
<!ELEMENT message-numeration (#PCDATA)>
<!ELEMENT message-pagination (#PCDATA)>

<!ELEMENT religious-work ( book-title, part-title, chapter-verse, pagination?)>
<!ELEMENT chapter-verse (#PCDATA)>

<!ELEMENT classic-reference (book-title, edition, volume-number, part-title )>

<!ELEMENT classic-plays-poems  (one-author, book-title, work-unit)>
<!ELEMENT one-author (#PCDATA)>
<!ELEMENT work-unit (#PCDATA)>

<!ELEMENT journal-article-unpub (journal-author-list, article-title, article-type?, journal-title, medium-type?, edition?, part-title?, language?, notes? )>

<!ELEMENT monograph-unpub (av-author3-list, book-title, medium-type?, edition?, part-number?, part-title?,  pub-place?, publisher?, language?, notes?  )>

<!ELEMENT conference-paper-unpub (journal-author-list, paper-title,  conference-title,  conference-date, conference-place?, language?, notes?)>

<!ELEMENT letter-conversation (av-author, assignee-list, communication-date, extent-of-work?, language?, location?, notes?)>
<!ELEMENT location (#PCDATA) >
<!ELEMENT communication-date (date)>
<!ELEMENT extent-of-work (#PCDATA)>
