code/HSCML/Rules/conversion-notes.dtd

<!--
 Copyright 2012 Tufts University 

 Licensed under the Educational Community License, Version 1.0 (the "License"); 
 you may not use this file except in compliance with the License. 
 You may obtain a copy of the License at 

 http://www.opensource.org/licenses/ecl1.php 

 Unless required by applicable law or agreed to in writing, software 
 distributed under the License is distributed on an "AS IS" BASIS, 
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. 
 See the License for the specific language governing permissions and 
 limitations under the License.
-->


<!-- Conversion problems and issues are captured as part of the Word file to hscml DTD XML conversion process.  These tags are only generated by the DOCtoXML.exe program and are never part of 
authoring the document.

The DOCtoXML.exe program takes Word files based on the TUSK.dot template file and translates them into XML. The program was created to 1) create XML from Word files rather than just treat them as binary 2) Offer a solution as XMetal is phased out. 

The tag <conversion-note> is used mainly to note Word style issues.  In general, Word mixes presentation and semantic attributes together.   For example, a <nugget> is displayed as black text w/a yellow background.
In Word, the 'Nugget' style needs to be used.  If an author only selects the text and selects a yellow 
background color, DOCtoXML cannot infer that the text highlighted should be treated as a nugget.  
DOCtoXML does know that the style attributes don't map to any semantic meaning it knows about.
It processes the text, ignoring the background color and generates a <conversion-note> to record 
the fact it ignored some information.

The tag <conversion-exception> is used when DOCtoXML cannot salvage any reasonably 
meaningfull text to display.  There are 3 broad situations where this occurs:  
      1) Use of a Word feature that has no visible representation in XML [embedded objects] 
      2) Cannot properly determine the value of a field [a Word feature] 
      3) there is no representation in the TUSK schema [e.g. a Text Box].

Implementation Notes:

While entities.dtd defines DefAttrs, which includes the 'id' attribute, it is not used here because these 
tags deal with issues outside the authoring process.  No point in creating a linkage between these 2
when none exists.
-->

<!-- Building blocks -->
<!-- Text explaining the situation -->
<!ELEMENT message (#PCDATA)>

<!-- Conversion note -->
<!ELEMENT conversion-note (message)>
<!ATTLIST conversion-note id CDATA #IMPLIED
		severity (information|warning|error|fatal) "information">

<!-- Conversion exception -->
<!ELEMENT conversion-exception (message, CDATA)>
<!ATTLIST conversion-exception 
		id CDATA #IMPLIED>



